.container {
  font: 20px/1 Playfair Display, serif;
  background: var(--light-land-color);
  padding: 1rem;
  border: 2px solid;
}

.container h1 {
  font-size: 2em;
  margin: 0 0 0.33rem;
}

.container p {
  margin: 0 0 0.33rem;
}

.container select {
  font: inherit;
  font-weight: bold;
  color: inherit;
  border: 0;
  background: var(--light-land-color);
}

.container select:focus {
  outline: none;
}

.notice {
  min-width: 100%;
  max-width: 10em;
  margin: 0;
}